<footer class="site-footer bg-light">
  <div class="container">
    <div class="footer-content">
      <div class="row">
        <div class="col-lg-3 col-md-6 footer-about">
          <h5 class="footer-heading">About Us</h5>
          <p>Balance Ayurveda is dedicated to bringing authentic Ayurvedic wellness solutions to modern lifestyles. Our products are crafted with premium natural ingredients.</p>
        </div>
        
        <div class="col-lg-3 col-md-6 footer-links">
          <h5 class="footer-heading">Quick Links</h5>
          <ul class="footer-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#products">Products</a></li>
            <li><a href="#testimonials">Testimonials</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        
        <div class="col-lg-3 col-md-6 footer-contact">
          <h5 class="footer-heading">Contact Us</h5>
          <p>
            <i class="fas fa-envelope"></i> <a href="mailto:info@balanceayurveda.com">info@balanceayurveda.com</a><br>
            <i class="fas fa-phone"></i> <a href="tel:+1234567890">+1 (234) 567-890</a><br>
            <i class="fas fa-map-marker-alt"></i> 123 Wellness Street, Harmony City
          </p>
        </div>
        
        <div class="col-lg-3 col-md-6 footer-social">
          <h5 class="footer-heading">Follow Us</h5>
          <div class="social-links">
            <a href="#" class="social-link"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="social-link"><i class="fab fa-instagram"></i></a>
            <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
            <a href="#" class="social-link"><i class="fab fa-pinterest-p"></i></a>
          </div>
        </div>
      </div>
    </div>
    
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-6">
          <p class="copyright">&copy; {{currentYear}} Balance Ayurveda. All rights reserved.</p>
        </div>
        <div class="col-md-6 text-md-end">
          <p class="footer-links">
            <a href="#">Privacy Policy</a> | 
            <a href="#">Terms of Service</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>