<header class="header">
  <div class="container">
    <div class="header-content">
      <div class="logo">
        <a routerLink="/">
          <span class="logo-text">Balance Ayurveda</span>
        </a>
      </div>
      
      <nav class="nav-desktop">
        <ul>
          <li><a routerLink="/" fragment="home" class="active">Home</a></li>
          <li><a routerLink="/" fragment="about">About</a></li>
          <li><a routerLink="/" fragment="products">Products</a></li>
          <li><a routerLink="/" fragment="testimonials">Testimonials</a></li>
          <li><a routerLink="/" fragment="contact" class="btn-primary">Join Waitlist</a></li>
        </ul>
      </nav>
      
      <div class="hamburger" (click)="toggleMenu()">
        <i class="fas" [ngClass]="isMenuOpen ? 'fa-times' : 'fa-bars'"></i>
      </div>
      
      <nav class="nav-mobile" [ngClass]="{'open': isMenuOpen}">
        <ul>
          <li><a routerLink="/" fragment="home" (click)="toggleMenu()">Home</a></li>
          <li><a routerLink="/" fragment="about" (click)="toggleMenu()">About</a></li>
          <li><a routerLink="/" fragment="products" (click)="toggleMenu()">Products</a></li>
          <li><a routerLink="/" fragment="testimonials" (click)="toggleMenu()">Testimonials</a></li>
          <li><a routerLink="/" fragment="contact" (click)="toggleMenu()" class="btn-primary">Join Waitlist</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>